* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #7add91;
    --span-color: #5ec576;
    --color-primary: ;
    --color-dark: #444;
    --color-black: #000;
    --background-main: #f7f6f1;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    color: var(--color-dark);
}

.section__100,
.section__140,
.section__90 {
    margin: 0 auto;
    padding: 2.4rem;
}

.section__100 {
    max-width: 100rem;
}

.section__140 {
    max-width: 160rem;
}

.section__90 {
    max-width: 90rem;
}

.section__description {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--span-color);
    margin-bottom: 1rem;
}

.border--top {
    border-top: rgba(185, 185, 185, 0.24) solid 1px;
}

section {
    transition: .4s;
}

button {
    cursor: pointer;
}

/* .body--main {
    background: #f8f9fa
} */

.hiddn--section {
    opacity: 0;
    transform: translateY(8rem);
}

.blor {
    filter: blur(10px);
    transition: .3s;
}

/****************************/
/***    button, like     ****/

.btn:link,
.btn:visited {
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-black);
}

.btn--open {
    background-color: var(--main-color);
    color: var(--color-black);
    padding: 1.6rem 3rem;
    border-radius: 12rem;
}

.btn--new {
    background-color: var(--main-color);
    color: var(--color-black);
    padding: 1.6rem 3rem;
    border-radius: 12rem;
    font-size: 2rem;
    text-decoration: none;
}

.cookie-message {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    color: #fff;
}

/****************************/
/***        grid         ****/

.grid--column--two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9rem;
}
